
[submodule "libraries/json"]
	path = libraries/json
	url = https://github.com/nlohmann/json.git
[submodule "libraries/git2"]
	path = libraries/git2
	url = https://github.com/libgit2/libgit2.git
[submodule "libraries/fusion"]
	path = libraries/fusion
	url = https://github.com/fyrware/fusion.git
[submodule "libraries/reactor"]
	path = libraries/reactor
	url = https://github.com/fyrware/reactor.git
[submodule "libraries/git"]
	path = libraries/git
	url = https://github.com/fyrware/git.git
[submodule "libraries/fs"]
	path = libraries/fs
	url = https://github.com/fyrware/fs.git
[submodule "libraries/common"]
	path = libraries/common
	url = https://github.com/fyrware/common.git
